h1
{
	color: blueviolet;
}

h2
{
	color: lightskyblue;
}

body
{
	background-color: blueviolet;
}

#Random
{

		width: 800px;
		margin:0 auto;
		background-color: white;
		text-align: center;
		align-content: center;

}

ul li 
{
	list-style-type: none;
}